@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color:#4C1D95; /* Reemplaza bg-purple-600 con el valor hexadecimal del color */
  
  
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #212021;
}

/* Personalización de la barra de desplazamiento para Mozilla (Firefox) */
html {
  scrollbar-color: #4C1D95 #212021; /* Reemplaza bg-purple-600 con el valor hexadecimal del color */
  scrollbar-width: thin;
}
                
/* Personalización de la barra de desplazamiento para Microsoft Edge */
body {
  scrollbar-color: #4C1D95 #F3F4F6; /* Reemplaza bg-purple-600 con el valor hexadecimal del color */
  scrollbar-width: thin;

}